* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "tele2_textsans_regular", sans-serif;
}

input:focus {
  outline: none;
}

*::-webkit-scrollbar {
  width: 5px;
  background-color: $color-light;
  border-radius: 5px;
  height: 5px;
}

*::-webkit-scrollbar-thumb {
  background: $color-violet-dark;
  border-radius: 5px;
}
