$color-violet: #C882FF;
$color-green2: #38FFA6;
$color-yellow: #D7FF38;
$color-pink: #FF59A3;
$color-blue: #3FCBFF;
$color-yellow2: #FFDA57;
$color-red2: #D72F4B;
$color-green3: #41A674;
$color-red: #FF002A;
$color-orange: #FF641E;
$color-blue-b2b: #AAC4D8;
$color-green-b2b: #B2CAB3;
$color-purple-b2b: #D1CFE1;
$color-dark: #1F2229;
$color-white: #FFFFFF;
$color-lightgray2: #8F9399;
$color-dark: #1F2229;
$color-white: #FFFFFF;
$color-lightgray2: #8F9399;
$color-light0: #F0F1F2;
$color-extralight: #F9F9FA;
$color-extralight2: #F5F5FA;
$color-light: #E8E8ED;
$color-blue-dark: #68C0E6;
$color-violet-dark: #C185FF;
$color-pink-dark: #FB85BA;
$color-yellow-dark: #E1FF66;
$color-green2-dark: #64D49E;
$color-violet-light: #F4E6FF;
$color-pink-light: #FFE6F1;
$color-yellow-light: #E7FF85;
$color-lightgray: #D1D8D6;
$color-gray0: #7A7A7A;
