<div class="voice-helper" [class.voice-helper_active]="voice" [class.voice-helper_small]="small">
  <app-notification *ngIf="error" [title]="error" [type]="'error'">
  </app-notification>
  <div class="voice-helper__radiance row row_center" (click)="startRecord()">
    <div *ngIf="!voice" class="icon icon_microphone icon_responce-size-half"></div>
    <ng-container *ngIf="voice">
      <div class="icon icon_stop icon_responce-size-half"></div>
      <div class="voice-helper__radiance-shine voice-helper__radiance-shine_pink"></div>
      <div class="voice-helper__radiance-shine voice-helper__radiance-shine_pink-dark"></div>
      <div class="voice-helper__radiance-shine voice-helper__radiance-shine_blue"></div>
    </ng-container>
    </div>
  <div *ngIf="!voice && !small" class="voice-helper__hint">Давайте подберем вам тариф!</div>
</div>


<ng-template >

</ng-template>

