.tariff {
  margin: 0 20px;
  padding: 0 15px;
  min-width: 200px;

  &__field {
    font-size: 20px;
    margin-top: 10px;
  }

  &__button {
    padding: 10px 20px;
    margin-top: 20px;
    border: 1px solid #3FCBFF;
    border-radius: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: 0.2s;
    text-align: center;

    &:hover {
      background-color: #3FCBFF;
      color: white;
    }

  }
}
