.chat {

  &__page {
    background-color: $color-dark;
    min-height: 100vh;
  }

  &__header {
    padding: 10px 0;
    border-bottom: 1px solid #1F222910;

    &-title {
      text-align: center;
    }
  }

  &__messages {
    padding-bottom: 30px;
    overflow-y: auto;
  }

  &__area {
    max-width: 1100px;
    height: 100vh;
    margin: 0 auto;
    position: relative;
    background-color: $color-white;

    &_between {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
}

.chat-interface {
  border-top:1px solid $color-lightgray2;
}

.message-helper {
  margin-top: 20px;
  padding-top: 20px;
  border-top:1px solid #1F222910;

  &__title {
    text-align: center;
    font-size: 20px;
  }
}

.voice-helper {
  margin-top: 50px;
  transition: 0.5s;

  &__hint {
    font-size: 20px;
    text-align: center;
  }

  &__radiance {
    width: 200px;
    height: 200px;
    z-index: 1;
    transition: 0.2s;
    margin: 50px auto;
    cursor: pointer;
    position: relative;
    border-radius: 50%;
    background-color: $color-violet;

    &-shine {
      width: calc(100% + 5px);
      height: calc(100% + 5px);
      position: absolute;
      left: 0;
      z-index: -1;
      right: 0;
      border-radius: 50% / 70px 108px 105px;
      opacity: 0.2;
      animation: shine 3s infinite ease-in-out;

      &_pink {
        background-color: $color-pink;
        border-radius: 50% / 60% 30% 50% 25%;
        animation-delay: 0.2s;
      }

      &_pink-dark {
        background-color: $color-pink-dark;
        border-radius: 50% / 60% 30% 50% 25%;
        animation-delay: 4.4s;
      }

      &_blue {
        background-color: $color-blue;
        border-radius: 50% / 60% 30% 50% 25%;
        animation-delay: 2.6s;
      }
    }
  }

  &_active {

    .voice-helper__radiance {
      width: 50px;
      height: 50px;
    }
  }

  &_small {
    position: absolute;
    bottom: 15px;
    right: 10px;

    .voice-helper__radiance {
      width: 50px;
      height: 50px;
      margin: 0;
    }
  }
}

.message-block {
  padding: 10px 20px;
  font-size: 25px;
  border: 1px solid $color-blue;
  border-radius: 20px;
  margin-bottom: 20px;
  cursor: pointer;
  transition: 0.2s;

  &:hover {
    background-color: $color-blue;
    color: white;
  }
}

.send-msg {
  display: inline-block;
  padding: 20px;
  background-color: $color-light;
  transition: 0.2s;
  animation: showMsd 1s;

  &_direct-right {
    margin-left: auto;
    border-radius: 20px 0 0 20px;
  }

  &_direct-left {
    margin-right: auto;
    border-radius: 0 20px 20px 0;
  }
}
